@charset "utf-8";
.layout-template{margin-bottom: 10px;z-index: -1;}
.layout-template-container {position: relative;height:100px;}
.layout-zone {
	border:1px dotted #000;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	float:left;
	min-height:120px;
	height:auto;
	background:#99CCFF;
}

.lz1 {width : 100%;}
.lz2 {width : 20%;}
.lz3 {width : 25%;}
.lz4 {width : 75%;}
.lz5 {width : 50%;}
.lz6 {width : 33%;}