.header{
    padding-left:566px;
    background:url(../images/logo.png) 253px 34px no-repeat;
    height:128px;
    overflow: hidden;
}
.header ul{
    margin-top: 67px;
}
.header li{
    float: left;
    margin-right:6px;
}
.header li a{
    display: block;
    height:22px;
    line-height: 22px;
    padding:0 9px;
    color:#3668cd;
}
.header li a:hover{
    background-color: #3668cd;
    color:#fff;
}
.content{
    width:auto;
    height:636px;
    background: url(../images/bg.png) 0 0 no-repeat;
    position: relative;
}
.activity{
    width:1007px;
    height:200px;
    padding-top:5px;
    background:url(../images/detailbg.png) 0 0 no-repeat;
    left:50%;
    margin-left:-503px;
    bottom:-65px;
    position: absolute;
}
.footer{
    height:56px;
    text-align: center;
    padding-top: 80px;
    font-size: 12px;
    color:#575757;
}
.footer p{
    margin-bottom: 9px;
}
.act-col1{
    width:307px;
    height:189px;
}